codepkg/staticresources/zPaperFlowsData.resource
{"flows":[{"id":"ea042ee9.295b3","type":"tab","label":"Triage Phase 1","disabled":false,"showlanes":true,"swimlanes":[{"colour":"#0077ff40","title":"Channels","height":160},{"colour":"#ff000040","title":"Force.com","height":100},{"colour":"#ff770040","title":"Triage User","height":100},{"colour":"#00770040","title":"Deliveries","height":100}],"info":""},{"id":"55f1a1c5.e90b4","type":"zFax","z":"ea042ee9.295b3","name":"Fax - 16789489988","link":"","format":"text","template":"","x":210,"y":40,"wires":[["b1162330.cebca"]]},{"id":"4e41f48e.67b5dc","type":"zFax","z":"ea042ee9.295b3","name":"Scans","link":"","format":"text","template":"","x":250,"y":80,"wires":[[]]},{"id":"ba224343.6a154","type":"zFax","z":"ea042ee9.295b3","name":"Emails #@mfb.zpaper.com","link":"","format":"text","template":"","x":180,"y":120,"wires":[["b1162330.cebca"]]},{"id":"39ed1f0.f6999e2","type":"soql","z":"ea042ee9.295b3","name":"find PersonAccount","query":"","connection":"","fetchAll":false,"x":390,"y":200,"wires":[["2ab70f26.eccb9"]]},{"id":"2ab70f26.eccb9","type":"switch","z":"ea042ee9.295b3","name":"found or not","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":200,"wires":[["3511ef27.d2be9"],["17847719.32a969"]]},{"id":"b1162330.cebca","type":"zAction","z":"ea042ee9.295b3","name":"zActions","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":460,"y":80,"wires":[["5d41228c.90ea9c"]]},{"id":"17847719.32a969","type":"dml","z":"ea042ee9.295b3","name":"New PersonAccount","object":"","action":"insert","connection":"","x":840,"y":200,"wires":[["3511ef27.d2be9"]]},{"id":"3511ef27.d2be9","type":"zAction","z":"ea042ee9.295b3","name":"Split PDF pages","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":740,"y":80,"wires":[["2da7d41f.3712ec"]]},{"id":"2da7d41f.3712ec","type":"dml","z":"ea042ee9.295b3","name":"PersonAccount","object":"","action":"insert","connection":"","x":940,"y":80,"wires":[[]]},{"id":"5d41228c.90ea9c","type":"zStack","z":"ea042ee9.295b3","name":"","link":"","format":"text","template":"","x":170,"y":200,"wires":[[]]},{"id":"55199e4c.a987d","type":"soql","z":"ea042ee9.295b3","name":"New zStacks","query":"","connection":"","fetchAll":false,"x":130,"y":300,"wires":[["f167c372.2f2a9"]]},{"id":"1d6e302b.4fa37","type":"zAction","z":"ea042ee9.295b3","name":"Index","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":530,"y":300,"wires":[["39ed1f0.f6999e2"]]},{"id":"f167c372.2f2a9","type":"zItem","z":"ea042ee9.295b3","name":"Triage DE","link":"https://sb14.zpaper.com/kb/zp/editDetails.html?dbID=76600014Z1cdkvol8u","sftype":"zStack","format":"text","template":"Creates PersonAccount","x":330,"y":300,"wires":[["1d6e302b.4fa37"]]},{"id":"8fbda4c7.d88598","type":"dml","z":"ea042ee9.295b3","name":"Any Account","object":"","action":"insert","connection":"","x":670,"y":340,"wires":[["affa28b4.8f9ef8"]]},{"id":"7a583a09.8a6da4","type":"zItem","z":"ea042ee9.295b3","name":"Physician RX Request","link":"https://sb14.zpaper.com/kb/zp/editDetails.html?dbID=00012b38Z1dck0ork9","sftype":"","format":"text","template":"","x":930,"y":400,"wires":[["b07fc2cc.0af55"]]},{"id":"affa28b4.8f9ef8","type":"zAction","z":"ea042ee9.295b3","name":"zPaper:Forms","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":860,"y":340,"wires":[["7a583a09.8a6da4"]]},{"id":"b07fc2cc.0af55","type":"zFax","z":"ea042ee9.295b3","name":"","link":"","format":"text","template":"","x":1010,"y":440,"wires":[[]]}],"rev":"0"}