codepkg/staticresources/zPaperFlowsData.resource
{"flows":[{"id":"1e0e970f.448099","type":"tab","label":"Invitae Process Flow","disabled":false,"showlanes":true,"swimlanes":[{"colour":"#0077ff40","title":"Lead","height":200},{"colour":"#77777740","title":"zStack","height":100},{"colour":"#ff770040","title":"Back Office","height":200},{"colour":"#ff000040","title":"Case","height":200},{"colour":"#0000ff40","title":"Order","height":200},{"colour":"#ff77ff40","title":"GC Notes","height":200}],"info":""},{"id":"e3c5a94a.01af08","type":"tab","label":"Flow 1","disabled":false,"showlanes":true,"swimlanes":[{"colour":"#0077ff40","title":"zPaper","height":100},{"colour":"#ffff0040","title":"Salesforce","height":100},{"colour":"#ffffff40","title":"","height":100}],"info":""},{"id":"b25321a3.9d62b","type":"zItem","z":"1e0e970f.448099","name":"Lead is created in SFDC","link":"","sftype":"Lead","format":"text","template":"","x":328,"y":49,"wires":[["9c12fe6b.c62e2"]]},{"id":"9c12fe6b.c62e2","type":"zFax","z":"1e0e970f.448099","name":"Outbound Miscellaneous Faxes","link":"","format":"text","template":"","x":606,"y":50,"wires":[["beb474a6.1bb868"]]},{"id":"beb474a6.1bb868","type":"zItem","z":"1e0e970f.448099","name":"Lead is converted to Account/Contact","link":"","sftype":"","format":"text","template":"","x":969,"y":51,"wires":[["ba9590c4.78498"]]},{"id":"ba9590c4.78498","type":"zFax","z":"1e0e970f.448099","name":"TRF sent to SFDC; zStack is created and assigned to CS Ops Queue","link":"","format":"text","template":"","x":1147.28564453125,"y":246.57143592834473,"wires":[["2bb7b158.a1a47e"]]},{"id":"2bb7b158.a1a47e","type":"zItem","z":"1e0e970f.448099","name":"Order Event created manually in BO","link":"","sftype":"","format":"text","template":"","x":1112.1427764892578,"y":402.85714626312256,"wires":[["6b33fe65.709c1","16e07823.1a8fe8"]]},{"id":"6b33fe65.709c1","type":"zItem","z":"1e0e970f.448099","name":"Sample Failure?","link":"","sftype":"","format":"text","template":"","x":1349,"y":621,"wires":[["e3ec4fd5.000a3","2cf96168.3d72be"]]},{"id":"2cf96168.3d72be","type":"zItem","z":"1e0e970f.448099","name":"Yes","link":"","sftype":"","format":"text","template":"","x":1620,"y":651,"wires":[["88faea98.0365e8"]]},{"id":"e3ec4fd5.000a3","type":"zItem","z":"1e0e970f.448099","name":"No","link":"","sftype":"","format":"text","template":"","x":1616,"y":584,"wires":[["84728bd0.98d958"]]},{"id":"84728bd0.98d958","type":"zItem","z":"1e0e970f.448099","name":"Missing Information or Billing Details?","link":"","sftype":"","format":"text","template":"","x":1939,"y":583,"wires":[["ccb2d2c6.1744e","85ce87d.011e278"]]},{"id":"88faea98.0365e8","type":"zFax","z":"1e0e970f.448099","name":"Create Case; attach zStack to Case; send Sample Failure outbound fax","link":"","format":"text","template":"","x":1984,"y":652,"wires":[[]]},{"id":"ccb2d2c6.1744e","type":"zItem","z":"1e0e970f.448099","name":"No","link":"","sftype":"","format":"text","template":"","x":2208,"y":561,"wires":[[]]},{"id":"85ce87d.011e278","type":"zItem","z":"1e0e970f.448099","name":"Yes","link":"","sftype":"","format":"text","template":"","x":2208,"y":605,"wires":[["3a813202.188eae"]]},{"id":"3a813202.188eae","type":"zFax","z":"1e0e970f.448099","name":"Create Case; attach zStack to Case; send missing information or billing outbound fax","link":"","format":"text","template":"","x":2592.571319580078,"y":604.9999980926514,"wires":[["cff4d3a5.e5d27"]]},{"id":"cff4d3a5.e5d27","type":"zItem","z":"1e0e970f.448099","name":"Receive missing information / billing details","link":"","sftype":"","format":"text","template":"","x":3106.857192993164,"y":605.0000238418579,"wires":[[]]},{"id":"16e07823.1a8fe8","type":"zItem","z":"1e0e970f.448099","name":"Report created in BO, automatically creates Order in SFDC and attaches report to Order","link":"","sftype":"","format":"text","template":"","x":1188,"y":760,"wires":[["214998f9.2a80e8"]]},{"id":"214998f9.2a80e8","type":"zItem","z":"1e0e970f.448099","name":"Missing Billing Information?","link":"","sftype":"","format":"text","template":"","x":1708,"y":759,"wires":[["591fd8b0.1b53f8","a71e37a0.da6f88"]]},{"id":"591fd8b0.1b53f8","type":"zItem","z":"1e0e970f.448099","name":"No","link":"","sftype":"","format":"text","template":"","x":1934,"y":730,"wires":[["589e9c61.536144"]]},{"id":"a71e37a0.da6f88","type":"zItem","z":"1e0e970f.448099","name":"Yes","link":"","sftype":"","format":"text","template":"","x":1933,"y":795,"wires":[["96724b7c.4fd448"]]},{"id":"589e9c61.536144","type":"zItem","z":"1e0e970f.448099","name":"END","link":"","sftype":"","format":"text","template":"","x":2824,"y":734,"wires":[[]]},{"id":"1fc023bf.ec8e4c","type":"zItem","z":"1e0e970f.448099","name":"Receive Missing information","link":"","sftype":"","format":"text","template":"","x":2448,"y":794,"wires":[["589e9c61.536144"]]},{"id":"96724b7c.4fd448","type":"zFax","z":"1e0e970f.448099","name":"Send various outbound faxes","link":"","format":"text","template":"","x":2161,"y":794,"wires":[["1fc023bf.ec8e4c"]]},{"id":"dbcc5778.4b21c8","type":"zItem","z":"1e0e970f.448099","name":"Request for Information sent to Client","link":"","sftype":"","format":"text","template":"","x":1610.333366394043,"y":1011.7777462005615,"wires":[["d1b16c56.10062"]]},{"id":"d1b16c56.10062","type":"zItem","z":"1e0e970f.448099","name":"Genetic Counseling Session","link":"","sftype":"","format":"text","template":"","x":1916.6665649414062,"y":1010.9999542236328,"wires":[["35941056.28a7c"]]},{"id":"35941056.28a7c","type":"zFax","z":"1e0e970f.448099","name":"Consultation Notes generated in Conga and sent via fax if no BO","link":"","format":"text","template":"","x":2324.4445571899414,"y":1009.8888835906982,"wires":[[]]},{"id":"199d8fc1.60c55","type":"zComment","z":"1e0e970f.448099","name":"Cover Letter?","link":"","info":"","x":2184.4444444444443,"y":1057.6666666666665,"wires":[]},{"id":"b96f15c0.743d18","type":"switch","z":"1e0e970f.448099","name":"Does Patient want Genetic Counseling?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1066,"y":976,"wires":[["dbcc5778.4b21c8"],["589e9c61.536144"]]},{"id":"9baf9005.41a01","type":"link out","z":"1e0e970f.448099","name":"Does the patient need genetic counseling?","links":["1ed42e47.db5962"],"x":2711.9999999999995,"y":447.9999999999999,"wires":[]},{"id":"1ed42e47.db5962","type":"link in","z":"1e0e970f.448099","name":"Genetic Counseling","links":["9baf9005.41a01"],"x":812,"y":976,"wires":[["b96f15c0.743d18"]]},{"id":"db5c4c73.d04ef","type":"zComment","z":"e3c5a94a.01af08","name":"zCharta - fax/email","link":"","info":"","x":190,"y":80,"wires":[]},{"id":"ac418f2a.04ab4","type":"zComment","z":"e3c5a94a.01af08","name":"zPapyrus - email only","link":"","info":"#.zpapyus@mfb.zpaper.com","x":200,"y":160,"wires":[]},{"id":"e2f2152b.fce988","type":"zFax","z":"e3c5a94a.01af08","name":"17705551212","link":"","format":"text","template":"","x":200,"y":120,"wires":[["4fa9db7f.cb6c14"]]},{"id":"12d63cb9.b82d73","type":"zFax","z":"e3c5a94a.01af08","name":"#.zpapyrus@mfb.zpaper.com","link":"","format":"text","template":"","x":240,"y":200,"wires":[["4fa9db7f.cb6c14"]]},{"id":"4fa9db7f.cb6c14","type":"zItem","z":"e3c5a94a.01af08","name":"","link":"","sftype":"","format":"text","template":"","x":410,"y":100,"wires":[["d51f8e5d.7a767"]]},{"id":"b411e3d3.28439","type":"zStack","z":"e3c5a94a.01af08","name":"create zStack","link":"","format":"text","template":"","x":1200,"y":240,"wires":[["79264230.d717cc","94b60d4f.3a72e"]]},{"id":"d51f8e5d.7a767","type":"zAction","z":"e3c5a94a.01af08","name":"Create New zStack","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":570,"y":100,"wires":[["4d929dc4.087cb4"]]},{"id":"79264230.d717cc","type":"dml","z":"e3c5a94a.01af08","name":"zStack Incoming List View","object":"","action":"insert","connection":"","x":580,"y":480,"wires":[["6e09a319.a9c7ec","3db689bd.2b8836"]]},{"id":"4d929dc4.087cb4","type":"switch","z":"e3c5a94a.01af08","name":"barcode?","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"regex","v":"^[003|001|500]*","vt":"str","case":false},{"t":"regex","v":"^SX-","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":3,"x":760,"y":140,"wires":[["b411e3d3.28439"],["253b2023.fa901"],["16eaa0fd.6f67df"]]},{"id":"253b2023.fa901","type":"soql","z":"e3c5a94a.01af08","name":"find standard record","query":"","connection":"","fetchAll":false,"x":740,"y":240,"wires":[["b6df7e69.50462"]]},{"id":"16eaa0fd.6f67df","type":"soql","z":"e3c5a94a.01af08","name":"find custom record","query":"","connection":"","fetchAll":false,"x":730,"y":300,"wires":[["b6df7e69.50462"]]},{"id":"94b60d4f.3a72e","type":"soql","z":"e3c5a94a.01af08","name":"find Account/Contact if faxed","query":"","connection":"","fetchAll":false,"x":980,"y":280,"wires":[["b6df7e69.50462"]]},{"id":"b6df7e69.50462","type":"dml","z":"e3c5a94a.01af08","name":"Contact, Lead, Case, Account File","object":"","action":"insert","connection":"","x":580,"y":420,"wires":[["6e09a319.a9c7ec","3db689bd.2b8836"]]},{"id":"545d44ed.13f05c","type":"zComment","z":"e3c5a94a.01af08","name":"TODO Ken wants zStack no matter what?","link":"","info":"","x":1020,"y":100,"wires":[]},{"id":"6e09a319.a9c7ec","type":"zAction","z":"e3c5a94a.01af08","name":"View PDF with Tools","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":940,"y":460,"wires":[["f4e1719d.76354","c04e12e.ccf8df","7e90750d.6ca31c","96a999c8.e3bfd8"]]},{"id":"f4e1719d.76354","type":"zAction","z":"e3c5a94a.01af08","name":"Markup","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":1140,"y":400,"wires":[[]]},{"id":"c04e12e.ccf8df","type":"zAction","z":"e3c5a94a.01af08","name":"Attach","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":1130,"y":440,"wires":[["c27b9c9.301aa6"]]},{"id":"7e90750d.6ca31c","type":"zAction","z":"e3c5a94a.01af08","name":"Split","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":1130,"y":480,"wires":[["c27b9c9.301aa6"]]},{"id":"96a999c8.e3bfd8","type":"zAction","z":"e3c5a94a.01af08","name":"Forward","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":1140,"y":520,"wires":[["efa5deea.67c17"]]},{"id":"c27b9c9.301aa6","type":"zItem","z":"e3c5a94a.01af08","name":"new zItems","link":"","sftype":"","format":"text","template":"","x":1330,"y":460,"wires":[[]]},{"id":"efa5deea.67c17","type":"zFax","z":"e3c5a94a.01af08","name":"fax/email/PDF/SMS","link":"","format":"text","template":"","x":1330,"y":540,"wires":[["142c59e2.5bc7a6","194fe5d5.a7e2fa"]]},{"id":"3db689bd.2b8836","type":"zAction","z":"e3c5a94a.01af08","name":"Complete Forms and Send a Doc","func":"\nreturn msg;","active":true,"button":"","outputs":1,"continue":false,"noerr":0,"x":900,"y":540,"wires":[["efa5deea.67c17"]]},{"id":"1d4e979f.9e04f8","type":"zComment","z":"e3c5a94a.01af08","name":"TODO: patient SMS?","link":"","info":"","x":200,"y":580,"wires":[]},{"id":"1047bc62.6f1cb4","type":"zItem","z":"e3c5a94a.01af08","name":"Secure Email & SMS","link":"","sftype":"","format":"text","template":"","x":420,"y":600,"wires":[["8f6f96ae.b54b78"]]},{"id":"67949ed5.d3d2b","type":"zComment","z":"e3c5a94a.01af08","name":"TODO: provider direct message","link":"","info":"","x":230,"y":680,"wires":[]},{"id":"74665a07.f62024","type":"zItem","z":"e3c5a94a.01af08","name":"SMS & nanoPortal","link":"","sftype":"","format":"text","template":"","x":410,"y":640,"wires":[["3988d48.753b62c"]]},{"id":"99d13b14.ae1b08","type":"zItem","z":"e3c5a94a.01af08","name":"faxed merged form","link":"","sftype":"","format":"text","template":"","x":490,"y":700,"wires":[["b5478603.d0fa08"]]},{"id":"c1577e59.ff7be","type":"zItem","z":"e3c5a94a.01af08","name":"form missing signature","link":"","sftype":"","format":"text","template":"","x":500,"y":740,"wires":[["b5478603.d0fa08"]]},{"id":"341b16da.06e4aa","type":"link in","z":"e3c5a94a.01af08","name":"channel1","links":["8f6f96ae.b54b78","b5478603.d0fa08"],"x":95,"y":120,"wires":[["e2f2152b.fce988"]]},{"id":"dbfdac5d.877f3","type":"link in","z":"e3c5a94a.01af08","name":"channel2 - email only","links":["8f6f96ae.b54b78","3988d48.753b62c","b5478603.d0fa08"],"x":95,"y":200,"wires":[["12d63cb9.b82d73"]]},{"id":"8f6f96ae.b54b78","type":"link out","z":"e3c5a94a.01af08","name":"","links":["dbfdac5d.877f3","341b16da.06e4aa"],"x":700,"y":600,"wires":[]},{"id":"3988d48.753b62c","type":"link out","z":"e3c5a94a.01af08","name":"","links":["dbfdac5d.877f3"],"x":695,"y":640,"wires":[]},{"id":"e7035cd8.00ff2","type":"link in","z":"e3c5a94a.01af08","name":"mobilePhone","links":["142c59e2.5bc7a6"],"x":235,"y":620,"wires":[["1047bc62.6f1cb4","74665a07.f62024"]]},{"id":"142c59e2.5bc7a6","type":"link out","z":"e3c5a94a.01af08","name":"patients","links":["e7035cd8.00ff2"],"x":1455,"y":520,"wires":[]},{"id":"194fe5d5.a7e2fa","type":"link out","z":"e3c5a94a.01af08","name":"patients","links":["efbe85c5.cabff8"],"x":1455,"y":560,"wires":[]},{"id":"efbe85c5.cabff8","type":"link in","z":"e3c5a94a.01af08","name":"provider fax/EMR","links":["194fe5d5.a7e2fa"],"x":275,"y":720,"wires":[["99d13b14.ae1b08","c1577e59.ff7be"]]},{"id":"5b3a795c.3b8998","type":"zComment","z":"e3c5a94a.01af08","name":"provider completes form & signs","link":"","info":"","x":770,"y":680,"wires":[]},{"id":"b5478603.d0fa08","type":"link out","z":"e3c5a94a.01af08","name":"","links":["dbfdac5d.877f3","341b16da.06e4aa"],"x":975,"y":720,"wires":[]},{"id":"bb7328aa.61ce98","type":"zComment","z":"e3c5a94a.01af08","name":"patient completes form, signs, adds supporting documents","link":"","info":"","x":750,"y":580,"wires":[]}],"rev":"0"}